@use '../../styles/partials/colors' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/global' as *;



.hero-video{

   &__section{
      display: flex;
      justify-content: center;
      background-color: $color-secondary-dark-black;
      position: relative;
      padding-bottom: 56.25%;
      box-sizing: border-box;

      @include tablet{
         padding-bottom: 50.25%;
      }

      @include desktop{
         padding-bottom: 36.25%;
      }

     &-video {
        position: absolute;
        top: 0;
        height: 100%;

      @include tablet{
         margin-left: auto;
      }  
     }
   }

   &__controls {
      position: relative;
      bottom: 5vw;
      left: 5%;
      display: flex;
      align-items:center;

      @include tablet {
         width: 95vw;
         margin: auto;
      }

      @include desktop{
         width: 68vw;
         margin-right: 18%;
      }
      

      &-play {
         background-color: rgba(0, 0, 0, 0.5);
         height: 0.5rem;
         padding: 1% 2.5%;
         border-radius: 10%;
         
         @include tablet {
            height: 0.8rem;
         }
         
      }

      &-scrubber {
         display:flex;
         flex-wrap: wrap;
         width: 65%;
         background-color: rgba(0, 0, 0, 0.5);
         border-radius: 0.25rem;
         margin: 0 1%;
         height: 0.5rem;
         padding: 1% 2.5%;
         justify-content: space-between;
         align-items: center;

         @include tablet {
            height: 0.8rem;
         }

         &-line {
            border-radius: 1px;
            border: 1px solid $color-secondary-dark-black;
            background-color: $color-secondary-dark-black;
            border-radius: 1rem;
            width: 80%;

            @include tablet {
               width: 90%;
            }

      }

      &-duration {
        color: $color-primary-white;
        font-size: 0.4rem;
      }

      }

      &-options {
         background-color: rgba(0, 0, 0, 0.5);
         border-radius: 0.25rem;
         display: flex;
         width: 8%;
         height: 0.5rem;
         padding: 1% 2.5%;
         justify-content: space-between;
         align-items: center;

         @include tablet {
            height: 0.8rem;
         }

      &-screen {
         height: 0.7rem;
         background-color: rgba(0, 0, 0, 0.5);

         @include tablet {
            height: 1rem;
         }
      }

      &-volume {
         height: 0.7rem;

         @include tablet {
            height: 1rem;
         }
      }
      }
      
   }

     &__details{
        padding: 0 5%;

      @include tablet{
         margin-top: -1rem;
      }

      @include desktop{
         width: 58vw;
         padding-left: 13%;
      }
      
     }
     &__heading {
         padding-bottom: 5%;

      @include tablet{
         padding-bottom: 3%;
      }
      
     }

     &__information {
        border-top: 1px solid $color-secondary-mercury;
        border-bottom: 1px solid $color-secondary-mercury;
        padding: 4% 0;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        height: 4rem;
        align-items: center;

         @include tablet{
            border-top: 0;
            padding: 1% 0 3%;
            flex-wrap:nowrap;
            height: 0;
      }
        
        &__title {

         @include tablet{
            width: 20%;
         }
        }

        &-date{

         @include tablet{
            margin-left: -4rem;
         }
      
           
        }
        
        &-views{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 33%;
            padding:0 18% 0 23%;

            @include tablet{
               padding: 0;
               width: 13%;
               order: 3;
               margin-left: 14rem;
            }
      
        }

        &-likes{
            display: flex;
            flex-direction: row;
            padding:0 23% 0 23%;
            justify-content: space-between;
            width: 26%;

            @include tablet{
               padding: 0;
               width: 10.5%;
               order: 3;
               margin-left: -4rem;
            }
      
        }
     }

     &__description{
        padding: 5% 0;
        font-size: 0.83rem;
        line-height: 1.2rem;

         @include tablet{
            padding: 3% 0 4%;
            line-height: 1.5rem;
         }
      
     }
}
