@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/global" as *;

.hero {
   padding-top: 1rem;

   @include tablet {
      padding-top: 0;
   }
   
   &__section {
      display: flex;
      justify-content: center;
      background-color: $color-secondary-dark-black;
      aspect-ratio: 16/9;
   }

   &__controls {
      position: relative;
      bottom: 7.5vw;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   &__play {
      background-color: rgba(0, 0, 0, 0.5);
      width: 0.5rem;
      padding: 1.2% 2.5%;
      border-radius: 0.5rem;
   }

   &__scrubber {
      display: flex;
      flex-wrap: wrap;
      width: 65vw;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 0.5rem;
      margin: 0 1%;
      height: 0.5rem;
      padding: 1.1% 2.5%;
      justify-content: space-between;
      align-items: center;

      @include tablet {
         height: 0.8rem;
      }
   }

   &__scrubber-line {
      position: relative;
      border-radius: 1px;
      border: 1px solid $color-secondary-dark-black;
      border-radius: 1rem;
      width: 52vw;

      @include tablet {
         width: 60vw;
      }
   }

   &__scrubber-duration {
      color: $color-primary-white;
      font-size: 0.4rem;
   }

   &__options {
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 0.5rem;
      display: flex;
      width: 2rem;
      height: 0.5rem;
      padding: 1.1% 2%;
      align-items: center;

      @include tablet {
         height: 0.8rem;
      }
   }

   &__options-screen {
      height: 0.7rem;
      padding-right: 20%;

      @include tablet {
         height: 1rem;
         padding-right: 40%;
      }
   }

   &__options-volume {
      height: 0.7rem;

      @include tablet {
         height: 1rem;
      }
   }

   &__container {
      padding: 0.2rem 1rem;

      @include tablet {
         margin-top: -1rem;
         padding: 0.2rem 2rem;
      }

      @include desktop {
         width: 58vw;
         padding-left: 10.4rem;
      }
   }

   &__heading {
      padding-bottom: 1.1rem;
      border-bottom: 1px solid $color-secondary-mercury;

      @include tablet {
         padding-bottom: 0.45rem;
         border-bottom: none;
      }
   }

   &__information {
      padding: 0.75rem 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      height: 4rem;
      align-items: center;

      @include tablet {
         border-top: 0;
         padding: 1.35rem 0;
         flex-wrap: nowrap;
         height: 0;
      }
   }

   &__details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 3rem;
      // width: 40vw;
      width: 40%;

      @include tablet {
         flex-direction: row;
         // width: 28%;
         // width: 12rem;
         align-items:center;
      }

      @include desktop {
         padding-right: 5%;
      }
   }

   &__details-one{
      width: 8rem;

      @include tablet{
         width: 11rem;
      }
   }   

   &__details-two{
      width: 5.8rem;

      @include tablet{
         width: 12.5rem;
      }
   } 

   &__views {
      &::before {
         content: url("../../assets/Icons/views.svg");
         margin-right: 0.5rem;
         position: relative;
         top: 0.18rem;
      }
   }

   &__likes {
      &::before {
         content: url("../../assets/Icons/likes.svg");
         margin-right: 0.5rem;
         position: relative;
         top: 0.18rem;
      }
   }

   &__description {
      border-top: 1px solid $color-secondary-mercury;
      padding: 0.85rem 0;
      font-size: 0.83rem;
      line-height: 1.2rem;

      @include tablet {
         padding: 1.25rem 0 1.75rem;
         line-height: 1.5rem;
      }
   }
}
