@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/global" as *;

.hero {
   padding-top: 5%;

   @include tablet {
      padding-top: 0;
   }
   &__section {
      display: flex;
      justify-content: center;
      background-color: $color-secondary-dark-black;
      position: relative;
      padding-bottom: 56.25%;
      box-sizing: border-box;

      @include tablet {
         padding-bottom: 50.25%;
      }

      @include desktop {
         padding-bottom: 36.25%;
      }

      &-video {
         position: absolute;
         top: 0;
         height: 100%;

         @include tablet {
            margin-left: auto;
         }
      }
   }

   &__controls {
      position: relative;
      bottom: 7vw;
      display: flex;
      align-items: center;
      justify-content: center;

      @include tablet {
         width: 95vw;
         bottom: 6vw;
         margin: auto;
      }

      @include desktop {
         width: 68vw;
         bottom: 4vw;
      }
   }

   &__play {
      background-color: rgba(0, 0, 0, 0.5);
      height: 0.5rem;
      padding: 1% 2.5%;
      border-radius: 25%;

      @include tablet {
         height: 0.8rem;
      }
   }

   &__scrubber {
      display: flex;
      flex-wrap: wrap;
      width: 65%;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 0.28rem;
      margin: 0 1%;
      height: 0.5rem;
      padding: 1% 2.5%;
      justify-content: space-between;
      align-items: center;

      @include tablet {
         height: 0.8rem;
      }

      &-line {
         border-radius: 1px;
         border: 1px solid $color-secondary-dark-black;
         background-color: $color-secondary-dark-black;
         border-radius: 1rem;
         width: 80%;

         @include tablet {
            width: 90%;
         }
      }

      &-duration {
         color: $color-primary-white;
         font-size: 0.4rem;
      }
   }

   &__options {
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 0.25rem;
      display: flex;
      width: 8%;
      height: 0.5rem;
      padding: 1% 2%;
      align-items: center;

      @include tablet {
         height: 0.8rem;
      }

      &-screen {
         height: 0.7rem;
         padding-right: 20%;

         @include tablet {
            height: 1rem;
            padding-right: 40%;
         }
      }

      &-volume {
         height: 0.7rem;

         @include tablet {
            height: 1rem;
         }
      }
   }

   &__container {
      padding: 1% 5%;

      @include tablet {
         margin-top: -1rem;
      }

      @include desktop {
         width: 58vw;
         padding-left: 13%;
      }
   }

   &__heading {
      padding-bottom: 6%;
      border-bottom: 1px solid $color-secondary-mercury;

      @include tablet {
         padding-bottom: 3%;
         border-bottom: none;
      }
   }

   &__information {
      padding: 4% 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      height: 4rem;
      align-items: center;

      @include tablet {
         border-top: 0;
         padding: 3% 0;
         flex-wrap: nowrap;
         height: 0;
      }
   }

   &__details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 3rem;
      width: 40vw;

      @include tablet {
         flex-direction: row;
         width: 28%;
      }

      @include desktop {
         padding-right: 5%;
      }
   }

   &__views {
      &::before {
         content: url("../../assets/Icons/views.svg");
         margin-right: 0.5rem;
         position: relative;
         top: 0.18rem;
      }
   }

   &__likes {
      &::before {
         content: url("../../assets/Icons/likes.svg");
         margin-right: 0.5rem;
         position: relative;
         top: 0.18rem;
      }
   }

   &__description {
      border-top: 1px solid $color-secondary-mercury;
      padding: 5% 0;
      font-size: 0.83rem;
      line-height: 1.2rem;

      @include tablet {
         padding: 3% 0 4%;
         line-height: 1.5rem;
      }
   }
}
