
//Primary Colors
$color-primary-one: #323232;
$color-primary-two: #AFAFAF;
$color-primary-three: #FFFFFF;

//Secondary Colors
$color-secondary-one: #000000;
$color-secondary-two: #E1E1E1;
$color-secondary-three: #FAFAFA;

