@use 'colors' as *;
@use 'typography' as *;
@use 'variables' as *;
@use 'mixins' as *;

// -----------------------------------------------Start of common attributes-----------------------------------------------
html {
    font-family: $font-stack;
    font-size: $root-font-size;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-weight:600;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

h2, h3 {
    font-weight:500;
}

a {
    text-decoration: none;
    color:$color-primary-three;

    &:hover {
        color:$color-primary-two;
    }
}

.logo {
    min-width: 20px;
    max-width: 120px;
    font-weight:400;
    font-size: 1.5rem;
}

// -----------------------------------------------End of common attributes-----------------------------------------------
// -----------------------------------------------Start of Navigation section-----------------------------------------------

.navigation {
    background-color: $color-primary-one;
    color:$color-primary-three;
    padding: 4% 0 3.2%;
    display: flex;
    flex-direction:column;
    align-items:center;

    &:hover {
        color:$color-primary-two;
    }

        @include tablet {
            flex-direction: row;
            padding: 2% 4.5% 1%;
          
        }

        @include desktop {
            padding-left: 8rem;
        }

    &__logo {
            @include tablet {
                padding-bottom: 1%;
            }
        }

    &__list {
        padding-top: 1.6%;
        font-weight:400;
        width: 100%;
        font-size: 0.8rem;
        
        @include tablet {
            font-size: 0.89rem;
            font-weight:400;
            width:60%;
            padding: 1.5% 0 2% 10%;
        }

        @include desktop {
            padding: 0.6% 0 1.6% 5.5%;
            font-weight:400;
        }

        &-item {
            color: $color-primary-two;
            padding-left: 17%;
            
            @include tablet  {
                padding-left: 12%;
            }

            @include desktop {
                padding-left: 4.5%;
            }

            &--active {
            font-weight: 500;
            padding: 4% 15% 2.5% 17%;
            border-bottom: 3px solid white;
            

                @include tablet {
                    border-bottom: 3px solid white;
                    padding: 0 0 4.3% 0;
                    }
            } 
        }    
    }
}

// -----------------------------------------------End of Navigation section-----------------------------------------------
// -----------------------------------------------Start of Header section-----------------------------------------------

.hero {
    position: relative;
    display: flex;
    height: 58.3vw;
    width: 100%;

    @include desktop {
        height: 49.35vw;
    }

    &__background-image {
        height:100%;
        width: 100%;

        @include tablet {
            height: 28rem;
        }
    
        @include desktop {
            height:49.3vw;
        }
    }

    &__heading{
    color: $color-primary-three;
    font-size: 1.45em;
    padding-left:5%;
    box-sizing: border-box;
    position:absolute;
    background-color: rgba( 0, 0, 0, 0.35);
    height: 100%;
    width: 100%;
    display:flex;
    align-items:center;

        @include tablet {
            font-size: 3.7rem;
            padding: 0 5%;
        }

        @include desktop {
            padding-left: 10%;
            // height: 39.5rem;
        }
    }
}



// -----------------------------------------------End of Header section-----------------------------------------------


// -----------------------------------------------Start of Footer section-----------------------------------------------

.footer {
    background-color: $color-primary-one;
    color:$color-primary-three;
    padding: 7% 5% 0 10%; 
    display:flex;
    flex-direction: column;
    position: absolute;
    top:224rem;
    width:93%;
    left:-1rem;

    @include tablet {
        padding: 6% 0 0 7%;
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        top:186.6rem;
    }

    @include desktop {
        padding: 3.5% 10% 0 11.5%;
        top:212.9rem;
    }

    &__title {

        @include tablet {
            font-size: 2.2rem;
            font-weight: 400;
        }
    }

    &__socials {
        padding: 4.8% 0 7.2%;

        @include tablet {
            padding: 1.8% 5.5%; 
            width: 30%;
        }

        @include desktop {
            padding: 1% 5%;
        }

        &-icons {
            height: 1.4rem;
            padding-right: 9%;

        @include tablet {
            padding-right: 13%;
        }

        @include desktop {
            padding-right: 7%;
        }
        }
    }

    &__contact {
        font-size: 0.87rem;
        padding-bottom: 8%;
        display: flex;
        flex-direction:column;
        line-height: 1.1rem;

        @include tablet {
            display: flex;
            flex-direction:row;
            flex-wrap:wrap;
            padding-top: 3.5%;
            width: 100%;
        }

        @include desktop {
            padding: 2.5% 0;
        }

        &-details {
            padding-bottom: 8%;

            @include tablet {
                    padding: 0 5.5% 0 0;
                    font-size: 0.87rem;
                }

            @include desktop {
                padding-right: 7%;
        }

            &-location {
                padding: 6% 0;

                @include tablet {
                    padding: 15% 0;
                }
            }

            &-email {
                padding-bottom: 10%;

                @include tablet {
                    padding-bottom: 13%;
                }

                @include desktop {
                    padding-bottom: 0;
                }
            }
        }
    }
        
    &__logo {
        padding: 4% 0;

        @include tablet {
            position:relative;
            left: 36.3rem;
            bottom: 19.3rem;
        }

        @include desktop {
            left: 56.7rem;
            bottom: 17.1rem;
        }
    }

    &__copywright{
        font-size: 0.68rem;

        @include tablet {
            font-size: 0.87rem;
            position:relative;
            right: 7.3rem;
            bottom: 0.6rem;
            padding: 0;
        }

        @include desktop {
            padding: 0;
            top:2.9rem;
        }
    }
}

// -----------------------------------------------End of Footer section-----------------------------------------------