
//Main font
@font-face {
    font-family: 'Avenir';
    src: url(../../assets/Font/AvenirNextLTPro-Regular.otf);
}

@font-face {
    font-family: 'Avenir';
    src: url(../../assets/Font/AvenirNextLTPro-Demi.otf);
    font-weight: 500;
}

@font-face {
    font-family: 'Avenir';
    src: url(../../assets/Font/AvenirNextLTPro-Bold.otf);
    font-weight: 700;
}

//Alternate files
@font-face {
    font-family: 'Avenir-Alt';
    src: url(../../assets/Font/AvenirNextLTPro.ttf);
}

@font-face {
    font-family: 'Avenir-Alt';
    src: url(../../assets/Font/AvenirNextLTProDemi.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Avenir-Alt';
    src: url(../../assets/Font/AvenirNextLTProBold.ttf);
    font-weight: 700;
}


$font-stack: "Avenir", "Avenir-Alt", sans-serif;
$root-font-size: 16px;