@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/global" as *;

.nav {
    padding: 1rem 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        flex-direction: row;
        align-items: flex-start;
        padding: 1rem 2rem;
    }

    @include desktop {
        padding: 1.5rem 2rem 1rem;
    }


    &__logo {
        padding: 0.5rem 0;

        @include tablet{
            flex-grow: 1;
        }
    }

    &__form {
        width: 18rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include tablet {
            width: 30rem;
        }
    }

    &__form-search {
        width: 11rem;
        height: 1rem;
        background-image: url(../../assets/Icons/search.svg);
        background-repeat: no-repeat;
        background-position: 0.5rem;
        padding: 0.7rem 2rem;
        margin-bottom: 0.8rem;

        &:focus,
        &:active {
            border: 1px solid $color-secondary-dark-blue;
        }

        @include tablet{
            width: 8rem;
            margin-right: 1.2rem;
        }
    }

    &__form-button {
        width: 18rem;
        flex-grow: 1;

        @include tablet{
            width: 13.2rem;
        }

        &::before {
            content: url(../../assets/Icons/upload.svg);
        }
    }

    &__form-image {
        @include tablet {
            margin-left: 3%;
            order: 2;
        }

        @include tablet {
            top: 0;
            left: 6%;
        }
    }
}

a {
    flex-grow: 1;
}
