@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/global" as *;

.upload {
    border-top: 0.0625rem solid $color-secondary-mercury;
    padding: 0 5%;
    margin-top: 5%;

    @include tablet {
        margin-top: 1%;
    }

    @include desktop {
        padding: 0 8%;
    }

    &__heading {
        font-size: 1.5rem;
        padding: 6% 0;

        @include tablet {
            font-size: 2rem;
            border-bottom: 0.0625rem solid $color-secondary-mercury;
            padding: 4% 0;
        }

        @include desktop {
            padding: 3% 0;
        }
    }

    &__details {
        display: flex;
        flex-direction: column;

        @include tablet {
            padding: 3% 0 2%;
            border-bottom: 0.0625rem solid $color-secondary-mercury;
        }

        @include desktop {
            flex-direction: row;
        }
    }

    &__video {
        @include tablet {
            display: flex;
            flex-direction: column;
        }

        @include desktop {
            width: 32%;
        }

        &-heading {
            font-weight: 500;
            font-size: 12px;
            padding-bottom: 1%;

            @include desktop {
                width: 50%;
            }
        }
        &-thumbnail {
            width: 90vw;
            border-radius: 2%;

            @include tablet {
                width: 50%;
            }

            @include desktop {
                width: 92%;
            }
        }
    }

    &__form {
        display: flex;
        flex-direction: column;

        @include desktop {
            width: 52vw;
        }

        &-title {
            font-weight: 500;
            font-size: 12px;
            padding: 4% 0 1%;

            @include tablet {
                padding: 2.5% 0 0.5%;
            }

            @include desktop {
            }
        }
        &-box {
            padding: 4% 3%;
            font-family: $font-stack;
            height: 1rem;
            background-color: $color-secondary-alabaster;
            border-color: $color-secondary-mercury;
            border-bottom: 0.0625rem solid $color-secondary-mercury;
            border-radius: 0.25rem;
            border-style: solid;

            @include tablet {
                padding: 1.5%;
            }

            @include desktop {
            }

            &-description {
                height: 5rem;
            }
        }
    
    }
    &__button {
        margin-left: auto;

        @include tablet {
            display: flex;
            width: 50%;
            justify-content: flex-end;
        }

        @include desktop {
            margin-right: 5%;
            width: 40%;
        }

        &-publish {
            color: $color-primary-white;
            font-size: 11.2px;
            margin: 8% 0;
            border-radius: 4px;

            @include tablet {
                margin: 3%;
                order: 3;
            }

            @include desktop {
                padding: 1.3%;
                font-size: 0.9rem;
            }

            &::before {
                content: url(../../assets/Icons/publish.svg);
                position: relative;
                right: 40%;
                margin-right: -10%;

                @include tablet {
                    left: -30%;
                    margin-right: -12%;
                    right: 15vw;
                }
            }
        }


        &-cancel {
            background-color: white;
            color: $color-primary-blue;

            @include tablet {
                margin: 3% 0;
            }

            @include desktop {
                padding: 1.3%;
                font-size: 0.9rem;
            }
        }
    }
}
