@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/global" as *;

.upload {
    border-top: 0.0625rem solid $color-secondary-mercury;
    padding: 0 1rem;
    margin-top: 1rem;

    @include tablet {
        margin-top: 0.5rem;
        padding: 0 2rem;
    }

    @include desktop {
        padding: 0 5rem;
    }

    &__heading {
        font-size: 1.5rem;
        padding: 1.5rem 0 1rem;

        @include tablet {
            font-size: 2rem;
            border-bottom: 0.0625rem solid $color-secondary-mercury;
            padding: 1.5rem 0;
        }
    }

    &__details {
        display: flex;
        flex-direction: column;

        @include tablet {
            padding: 1.5rem 0;
        }

        @include desktop {
            flex-direction: row;
        }
    }

    &__video {
        display: flex;
        flex-direction: column;

        @include desktop {
            width: 21.5rem;
        }
    }

    &__video-heading {
        font-weight: 500;
        font-size: 12px;
    }

    &__video-thumbnail {
        width: 18rem;
        border-radius: 0.25rem;
        margin-top: 0.25rem;

        @include tablet {
            width: 23rem;
        }

        @include desktop {
            width: 20rem;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;

        @include desktop {
            width: 52vw;
            margin-top: -0.5rem;
        }
    }

    &__form-title {
        font-weight: 500;
        font-size: 12px;
        padding: 1rem 0 0.3rem;
    }

    &__form-box {
        padding: 0.75rem 0.75rem 0.5rem;
        font-family: $font-stack;
        background-color: $color-secondary-alabaster;
        border-color: $color-secondary-mercury;
        border-radius: 0.25rem;
        border-style: solid;
    }

    &__border {
        @include tablet {
            padding-top: 1.5rem;
            border-bottom: 0.0625rem solid $color-secondary-mercury;
        }

        @include desktop {
            margin-left: -21.5rem;
        }
    }

    &__button {
        @include tablet {
            display: flex;
            width: 28rem;
            justify-content: flex-end;
            align-self: flex-end;
            padding-top: 0.5rem;
        }
    }

    &__button-publish {
        color: $color-primary-white;
        font-size: 11.2px;
        margin: 1.5rem 0 1rem;
        border-radius: 4px;
        width: 18rem;

        @include tablet {
            margin: 0.7rem 0;
            order: 3;
        }

        &::before {
            content: url(../../assets/Icons/publish.svg);
        }
    }

    &__button-cancel {
        background-color: white;
        color: $color-primary-blue;
        width: 18rem;

        @include tablet {
            margin: 3% 0;
        }

        @include desktop {
            padding: 1.3%;
        }
    }
}
