@use '../../styles/partials/colors' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/global' as *;

.comments{
    padding: 0 5%;

    @include desktop{
        width: 58vw;
        padding-left: 13%;
     }

    &__container{
        padding-top: 6%;
        display: flex;
        flex-direction: column;

        @include tablet {
        padding-top: 3%;
        }
        
        &-heading{
            font-weight: 500;
            font-size: 0.75rem;
            width: 60%;
            padding-left: 20%;

            @include tablet {
            padding-left: 9%;
            }
        }

        &-image{
            margin: 0 4% 0 2%;
            display: relative;
            top: 0.4rem;

            @include tablet {
            margin: 0;
            top: 0.6rem;
            }
        }
    }

    &__form{
        position: relative;
        left: 20%;
        top: -1.9rem;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-bottom: -8%;

        @include tablet {
        left: 9%;
        flex-direction: row;
        width: 95%;
        margin-bottom: 0;
        }

        @include desktop {
            width: 92%;
        }

        &-comment{

            @include tablet {
               
            }
            
            &-box {
            // color: $color-primary-black;
            font-family: $font-stack;
            height: 6rem;
            background-color: $color-secondary-alabaster;
            border-color: $color-secondary-mercury;
            border-radius: 6px;
            border-style:solid;

            @include tablet {
                width: 100%;
                height: 1rem;
                border-radius: 4px;
                padding: 1.7%;
            }
        }
    }
        
        &-button {
            margin-top: 7%;
            padding: 4% 0;

            @include tablet {
                padding: 1.6% 0;
                margin:0 3% 0 3.5%;
                width: 35%;
            }

            @include desktop {
                width: 34%;
            }

            &-icon {
                position:relative;
                left: -27%;

                @include tablet {
                    width: 12%;
                    left: -18%;
                }
            }
        }
}
}

